<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQ_HostName" value="localhost" />
    <add key="RabbitMQ_HostPort" value="5672" />
    <add key="RabbitMQ_UserName" value="cuonline" />
    <add key="RabbitMQ_Password" value="@password" />
    <add key="RabbitMQ_SystemLog_ExchangeName" value="CuOnline_SystemLog_Exchange" />
    <add key="RabbitMQ_SystemLog_QueueName" value="CuOnline_SystemLog_Queue" />
    <add key="RabbitMQ_SystemLog_RoutingKey" value="" />
    <add key="RabbitMQ_SystemLog_DeadLetter_ExchangeName" value="CuOnline_SystemLog_DeadLetter_Exchange" />
    <add key="RabbitMQ_SystemLog_DeadLetter_QueueName" value="CuOnline_SystemLog_DeadLetter_Queue" />
     <add key="SystemLogQueueServiceSubscriptionWaitTime" value="" />
    <add key="RabbitMQ_SystemLog_DeadLetter_RoutingKey" value="" />
    <add key="AppName" value="CreditUnionOnline"/>
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=DEVSQL2014\CUOLTO3;Initial Catalog=Logging;integrated security=True; Application Name=CuOnlineV2;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
